{% extends 'base.html.twig' %}

{% block title %}BackOffice-Categorie-new{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}">retour</a>
{% endblock %}
